.btn {
    display: block;
    width: 452px;
    margin: 0 auto;
    height: 65px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 18, 12px, 18px, 12px;
    color: $_button_blue_color;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    font-family: Manrope;
    border: 1px solid  $_button_blue_color;
    background: none;
    @include btnMedia;
}
.btn:first-of-type{
    margin-bottom: 4px;
}

.btn-dark{
    background-color: $_button_blue_color;
    color:#fff;
    border: none;
}